@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap');
:root{
    --main-color: #979797
}

*{
    list-style: none;
    text-decoration: none; 
}

body{
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-style: barlow;
    font-weight: 400;
}

.container{
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;

}

/*Header*/

.container-wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.site_header{
    display: flex;
    gap: 700.9px;

}


.site_logo{
    width: 236px;
    height: 26px;
}
.site_header ul{
    display: flex;
    
}
.site_header a{
font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */

letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;
}

.site_header a:hover{
    color: black;
    transition: linear 2s;
    
}

/*Main*/


.hero_text_block{
    width: 30%;
    position: absolute;
    left: 165px;
    top: 230px;
   
    
}

h1{
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
/* or 100% */


color: #FEFCF7;
}

.paragraph{
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #FEFCF7;

mix-blend-mode: normal;
opacity: 0.8;

}

button{
padding: 10px 30px;
margin-left: auto;
margin-right: auto;


font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
/* identical to box height, or 139% */

text-align: center;

color: #FEFCF7;

background: #66D2CF;
border-radius: 6px;
}

/*Coffee collection*/

.collection{
    display: flex;
    justify-content: space-between ;
    margin-top: 262px;
    margin-bottom: 200px;
}


.collection div{
    margin-left: 30px;
}


.coffee_name{
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;

color: #333D4B;
}

.text{
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;

color: #333D4B;
}

/*Cards*/

h2{
    font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */

text-align: center;

color: #FEFCF7;
}

.center{
    margin: 37px 370px 86px 370px;
    text-align: center;

}

.big_card{
 width: 1180px;
height: 577px;
border-radius: 6px;
background: #2C343E;
}

.card{
    width: 350px;
    height: 382px;
    position: absolute;
left: 165px;
top: 1920px;


background: #0E8784;
border-radius: 8px;
}

.card img{
    margin: 72px 143px 56px 136px;

}

.card_text{
    margin:0 48px 48px 47px;
}
.card_block{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
   
}
