@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap');

:root {
  --main-color: #979797;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  padding: 0%;
  margin: 0%;
  font-style: barlow;
  font-weight: 400;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/*Header*/

.container-wrap {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.site__header {
  display: flex;
  gap: 700.9px;
  margin: 44px 0 43px 0;
}

.site__logo {
  width: 236px;
  height: 26px;
}
.site__header ul {
  display: flex;
  gap: 33px;
}
.site__header a {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888f;
}

.site__header a:hover {
  color: black;
  transition: linear 2s;
}

/*Main*/
.site-background__image {
  background-image: url(/images/Bitmap.png);
  background-size: cover;

  width: calc(1280px-170px);
  height: calc(600px-233px);
  padding: 117px 85px 116px 85px;
}

.hero-text__block {
  width: 493px;
}

.hero-text__block h1 {
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;

  color: #fefcf7;
}

.hero-text__block p {
  margin-bottom: 56px;
}

.paragraph {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero-text__block button {
  margin-bottom: 116px;
}

button {
  
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;

  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;

  text-align: center;

  color: #fefcf7;
  border: hidden;
  background: #66d2cf;
  border-radius: 6px;
}

/*Coffee collection*/

.collection {
  display: flex;
  justify-content: space-between;
  margin-top: 262px;
  margin-bottom: 200px;
}

.collection div {
  margin-left: 30px;
}

.coffee_name {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;

  text-align: center;

  color: #333d4b;
}

.text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  text-align: center;

  color: #333d4b;
}

/*Cards*/

h2 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;

  text-align: center;

  color: #fefcf7;
}

.center {
  margin: 37px ;
  
  text-align: center;
}

.big__card {
  width: 1180px;

  position: relative;
  border-radius: 6px;
  background: #2c343e;
  padding: 50px ;
  box-sizing: border-box;
}



.card {
  width: 350px;
  background: #0e8784;
  border-radius: 8px;
  box-sizing: border-box;
}

.card img {
  padding: 72px 143px 56px 136px;
}

.card__text {
  padding: 48px;
}

.card__text .coffee_name {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;

  text-align: center;

  color: #fefcf7;
}
.card__block {
  display: flex;
  gap: 30px;
  position: relative;
  bottom: -130px;
}
.text__section {
  position: relative;
}

.text__section ul {
  display: flex;
  gap: 95px;
  margin-top: 200px;
}

.text__block {
  width: 285px;
}

.number {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;

  color: #fdd6ba;
}

.text__block h2 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin-top: 38px;
  margin-bottom: 42px;

  color: #333d4b;
}

.text__block p {
  margin-bottom: 64px;
}

footer{
  display: flex;
  justify-content: center;
  padding: 47px 85px;
  margin-top: 200px;
  width: 100%;
  background-color: #2C343E;
  box-sizing: border-box;
}

footer ul{
  display: flex;
  gap: 30px;
}


footer a{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */

letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;
}

.footer__link{
  display: flex;
  gap: 504px;
 
  
}

footer h3{
  margin-right: 103px ;
  font-family: 'Fraunces';
  color: #FEFCF7;
}

/*Site Page*/
.site-background{
  background-image: url(/images/page_background.png);
  background-size: cover;

  width: calc(1280px-170px);
  height: calc(600px-233px);
  padding: 117px 85px 116px 85px;

}

.about{
  display: flex;
}

.about__image{
  width: 445px;
  height: 520px;
  border-radius: 5px;
  margin: 168px 125px;
}

.about-text__block{
  
}

.about__title{
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  
  
  color: #333D4B;
}
.about__center{
  margin: 258px 0 32px 0;
}

.about-text__paragraph{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;


  color: #333D4B;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.page__card{
  padding: 86px 150px 0 86px; 
  margin-top: 168px ;
  position: relative;
  width: 1280px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #2C343E;
}

.about-title__color{
  color: #ffffff;
  margin-bottom: 32px;
}

.page-card__paragraph{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;


  color: #FEFCF7;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.guy{
  position: absolute;
width: 445px;
height: 474px;
left: 770px;
top: -59px;
border-radius: 5px;
}


.country__list{
  margin: 166px 230px 168px 165px;
}

.country{
  display: flex;
  justify-content: space-between;
}

.country__title{
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  
  color: #83888F;
}

.country li{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */


  color: #333D4B;
}

/*Subscribe page*/
.subscribe__background{
  background-image: url(/images/subscribe_background.png)
  background-size: cover;
  

}

.subscribe-card__list{
  display: flex;
  gap: 95px;
}

.subscribe-list__card ul{
  display: flex;
  gap: 23px;
 
}

.page__card h2{
  color: #ffffff;
}

.page__card p{
  color: #ffffff;
}

.card__grey{
  padding: 32px 28px 84px;
  box-sizing: border-box;
  background-color: #F4F1EB;
  width: 228px;
  height: 250px;
  border-radius: 8px;
}
.card__green{
  padding: 32px 28px 84px;
  box-sizing: border-box;
  background-color: #0E8784;
  width: 228px;
  height: 250px;
  border-radius: 8px;
}

/*Section*/
.coffee__drink{
  display: flex;
  gap: 169px;
  margin-top: 56px;
}

.coffee-drink__title{
  margin-top: 168px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;


  color: #83888F;
}

.coffee__service li{
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;

  color: #333D4B;

  border-bottom: 1px solid black;
  
}


